#pitchImg {
	max-height: 80%;
	max-width: 67%;
}

#pitchImgContainer {
	width: 100%;
}

.landingExpl {
	padding-bottom: 2.5%;
	border-bottom: 0.01px solid #959595;
	max-width: 67%;
}

.landingExpl:last-of-type {
	border-bottom: none;
}
