#contactContainer {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#contactTitle {
	text-align: center;
	width: 75%;
}

#contactExpl {
	text-align: center;
	max-width: 50%;
}

#ceContainer {
	display: flex;
	width: 75%;
	justify-content: center;
}

#ciContainer {
	width: 75%;
	display: flex;
	justify-content: center;
}

#ciContainer > a {
	padding: 15px;
	width: auto;
}
