#sidebar {
	/* background: linear-gradient(180deg, #08213d 68.23%, #000000 100%); */
	display: flex;
	flex-direction: column;
	background-size: auto 100%;
	width: 15vw;
	background: url("https://res.cloudinary.com/dunirybkl/image/upload/v1600082660/portfoli/asset_28b_4x_vxranw.png");
	background-size: cover;
	text-align: center;
	color: white;
}

#sidebar a {
	text-decoration: none;
	color: white;
}

#nlContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50%;
}

.sbLink {
	padding: 5%;
	font-weight: bold;
}
