#projNavs {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin-left: 25%;
	margin-top: 8%;
	margin-bottom: 8%;
}

/* #projNavs > a {
	padding: 3px;
} */

.projNav {
	padding: 3px;
	padding-left: 25%;
	cursor: pointer;
}
