#appRoot {
	display: flex;
	height: 100vh;
	font-family: "Open Sans";
}

.page {
	padding-left: 15%;
	padding-top: 5%;
	width: 100%;
	box-sizing: border-box;
	overflow: scroll;
}

::-webkit-scrollbar {
	display: none;
}

.pageExpl {
	margin-bottom: 60px;
	max-width: 80%;
	word-wrap: break-word;
}
