@import url(//db.onlinewebfonts.com/c/5232693f6aa6f93e7927ff1b77102e57?family=Quatro+Sans);

@font-face {
	font-family: "Quatro Sans";
	src: url("//db.onlinewebfonts.com/t/5232693f6aa6f93e7927ff1b77102e57.eot");
	src: url("//db.onlinewebfonts.com/t/5232693f6aa6f93e7927ff1b77102e57.eot?#iefix")
			format("embedded-opentype"),
		url("//db.onlinewebfonts.com/t/5232693f6aa6f93e7927ff1b77102e57.woff2")
			format("woff2"),
		url("//db.onlinewebfonts.com/t/5232693f6aa6f93e7927ff1b77102e57.woff")
			format("woff"),
		url("//db.onlinewebfonts.com/t/5232693f6aa6f93e7927ff1b77102e57.ttf")
			format("truetype"),
		url("//db.onlinewebfonts.com/t/5232693f6aa6f93e7927ff1b77102e57.svg#Quatro Sans")
			format("svg");
}

@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"),
		url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff)
			format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: local("Open Sans"), local("OpenSans"),
		url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff)
			format("woff");
}
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: local("Open Sans Semibold"), local("OpenSans-Semibold"),
		url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff)
			format("woff");
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
